includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    phpVersion: 70200
    paths:
        - includes
        - protected-video.php
        - uninstall.php
