<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Protected Video</title>
    <link rel="icon" href="images/logo.svg" type="image/svg+xml" />
    <meta
      name="description"
      content="Open source WordPress plugin that provides a 'block' and Shortcode to
      embed YouTube/Vimeo videos, in a way that prevents users easily
      accessing the underlying video."
    />
  </head>
  <body>
    <div class="container">
      <h1 class="heading mb-3">
        <img src="images/logo.svg" width="40" alt="Protected Video logo" />
        Protected Video
      </h1>

      <div class="intro mb-3">
        <p class="mb-2">
          Open source WordPress plugin that provides a 'block' and Shortcode to
          embed YouTube/Vimeo videos, in a way that prevents users easily
          accessing the underlying video.
        </p>
        <p>Below demonstrates the player loading a YouTube video.</p>
      </div>

      <div class="player mb-3">
        <div
          class="wp-block-protected-video-protected-video"
          data-id1="eW91dHViZQ=="
          data-id2="Y19oT19mam1Nbms="
        ></div>
      </div>

      <ul class="external-links mb-3">
        <li>
          <a
            href="https://wordpress.org/plugins/protected-video/"
            class="external-link"
          >
            <img src="images/wordpress.svg" width="16" height="16" alt="WordPress" />
            View WordPress Plugin
          </a>
        </li>
        <li>
          <a
            href="https://github.com/AlecRust/protected-video"
            class="external-link"
          >
            <img src="images/github.svg" width="16" height="16" alt="GitHub" />
            View GitHub Repository
          </a>
        </li>
      </ul>

      <div>
        <a
          href="https://downloads.wordpress.org/plugin/protected-video.<%= version %>.zip"
          class="button mb-1"
          >Download plugin ZIP</a
        >
        <p>
          <small>
            Latest version <%= version %> (<a
              href="https://github.com/AlecRust/protected-video/blob/master/CHANGELOG.md"
              >changelog</a
            >)
          </small>
        </p>
      </div>
    </div>
  </body>
</html>
