/**
 * CSS for admin-specific functionality
 */

/* Override flex layout in editor */
.wp-block-protected-video-protected-video .components-placeholder__fieldset {
  flex-direction: column;

  /* Disable default flash margin */
  .components-notice {
    margin-left: 0;
    margin-right: 0;
  }
}
