name: Lint

on: [pull_request]

jobs:
    prettier:
        name: Prettier
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 'lts/*'
                  cache: 'npm'
            - name: Install Node packages
              run: npm ci
            - name: Run Prettier check
              run: npx prettier --check .

    eslint:
        name: ESLint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 'lts/*'
                  cache: 'npm'
            - name: Install Node packages
              run: npm ci
            - name: Run ESLint
              run: npx eslint .

    grumphp:
        name: GrumPHP
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
            - name: Install Composer packages
              run: composer install --prefer-dist --no-progress --no-suggest
            - name: Run GrumPHP
              run: ./vendor/bin/grumphp run
