name: Lint

on: [pull_request]

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: 'lts/*'
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
            - name: Install Node packages
              run: npm ci
            - name: Install Composer packages
              run: composer install --prefer-dist --no-progress --no-suggest
            - name: Run lint
              run: npm run lint
